In [106]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() #this is used for plot styling
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn import preprocessing


# Begin by reading the original data
df1 = pd.read_csv("2018_Financial_Data.csv")

# Create the financial data frame we need with extra features taken directly from the real data (df1)
financial_data = pd.DataFrame(df1, columns = ['Symbol', 'Revenue', 'Revenue Growth', 'Gross Profit', 
                                              'Operating Income', 'Earnings before Tax', 'Free Cash Flow', 
                                              'Net Income', 'Total current assets',
                                              'Operating Expenses',  'Net Debt', 'Short-term debt', 'Long-term debt', 
                                              'Total shareholders equity', 'Weighted Average Shs Out', 
                                              'Total current liabilities', 'Total debt', 'Total liabilities']) 

# Get rid of empty values from the date given
nan_value = float("NaN")
financial_data.replace("", nan_value, inplace=True) #change empty data to nan
financial_data.replace(0, nan_value, inplace=True) #change zero data to nan
financial_data.dropna(axis=0, inplace = True) #get rid of nans

# Save the original data frame as target data frame
target_data = financial_data

# Drop the symbols for KMeans
financial_data = financial_data.drop('Symbol', 1)

# Calculate earnings per share ratio
#financial_data['EarningsPerShare'] = (df1['Net Income'] - df1['Preferred Dividends']) / df1['Weighted Average Shs Out']

# Get the P/E ratio directly from data
#financial_data['PriceEarningsRatio'] = df1['PE ratio']

# Calculate debt to equity ratio
#financial_data['DebtEquityRatio'] = (df1['Short-term debt'] + df1['Long-term debt']) / df1['Total shareholders equity']

# Get the return on equity ratio
#financial_data['ReturnOnEquity'] = df1['returnOnEquity']

# Get the quick ratio
#financial_data['QuickRatio'] = df1['quickRatio']

# Calculate the working capital ratio
#financial_data['WorkingCapitalRatio'] = df1['Total current assets'] / df1['Total current liabilities']



# Get rid of empty values from the date given
#nan_value = float("NaN")
#financial_data.replace("", nan_value, inplace=True) #change empty data to nan
#financial_data.replace(0, nan_value, inplace=True) #change zero data to nan
#financial_data.dropna(axis=0, inplace = True) #get rid of nans

# Save the original data frame as target data frame
#target_data = financial_data

# Drop the symbols for KMeans
#financial_data = financial_data.drop('Symbol', 1)

display(target_data)



financial_data_norm = pd.DataFrame(preprocessing.normalize(financial_data))
financial_data_norm.columns = ['Revenue', 'Revenue Growth', 'Gross Profit', 
                                              'Operating Income', 'Earnings before Tax', 'Free Cash Flow', 
                                              'Net Income', 'Total current assets',
                                              'Operating Expenses',  'Net Debt', 'Short-term debt', 'Long-term debt', 
                                              'Total shareholders equity', 'Weighted Average Shs Out', 
                                              'Total current liabilities', 'Total debt', 'Total liabilities']
#display(financial_data_norm)

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities
0,CMCSA,9.450700e+10,0.1115,9.450700e+10,1.900900e+10,1.511100e+10,1.198500e+10,1.173100e+10,2.184800e+10,7.549800e+10,1.080000e+11,4.398000e+09,1.070000e+11,7.161300e+10,4.549505e+09,2.760300e+10,1.120000e+11,1.790000e+11
1,KMI,1.414400e+10,0.0320,6.856000e+09,3.794000e+09,2.196000e+09,2.119000e+09,1.609000e+09,5.722000e+09,3.062000e+09,3.404400e+10,3.388000e+09,3.393600e+10,3.367800e+10,2.207018e+09,7.557000e+09,3.732400e+10,4.366900e+10
2,INTC,7.084800e+10,0.1289,4.373700e+10,2.331600e+10,2.331700e+10,1.425100e+10,2.105300e+10,2.878700e+10,2.042100e+10,1.470900e+10,1.261000e+09,2.509800e+10,7.456300e+10,4.564000e+09,1.662600e+10,2.635900e+10,5.340000e+10
3,MU,3.039100e+10,0.4955,1.789100e+10,1.499400e+10,1.430300e+10,8.521000e+09,1.413500e+10,1.603900e+10,2.897000e+09,-2.163000e+09,8.590000e+08,3.780000e+09,3.229400e+10,1.159811e+09,5.754000e+09,4.639000e+09,1.011200e+10
5,BAC,9.124700e+10,0.0446,9.124700e+10,3.786600e+10,3.458400e+10,3.952000e+10,2.814700e+10,7.790000e+11,5.338100e+10,-4.440000e+11,3.797500e+10,2.290000e+11,2.650000e+11,9.814197e+09,1.890000e+12,4.370000e+11,2.090000e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,WINA,7.251110e+07,0.0395,6.784070e+07,4.180240e+07,3.928310e+07,1.113870e+07,3.012550e+07,2.425130e+07,2.603830e+07,7.717500e+06,3.236100e+06,2.560490e+07,-4.808500e+06,3.901202e+06,1.248330e+07,2.884100e+07,5.147160e+07
4376,WINS,1.519838e+07,-0.3527,1.496750e+07,9.460981e+06,9.460981e+06,6.499370e+06,1.049988e+07,1.296404e+08,5.506514e+06,-5.380500e+06,1.772799e+07,1.847100e+07,2.742776e+08,1.983764e+07,2.225103e+07,1.847108e+07,3.494703e+07
4382,WVVI,2.307974e+07,0.1068,1.478150e+07,4.182715e+06,3.939586e+06,-2.959752e+06,2.858580e+06,2.863433e+07,1.059878e+07,-1.383677e+06,2.102474e+06,6.251316e+06,4.756027e+07,4.964529e+06,5.395262e+06,8.353790e+06,1.392227e+07
4385,XELB,3.546600e+07,0.1186,3.276400e+07,3.930000e+06,2.919000e+06,5.117000e+06,1.088000e+06,2.387500e+07,2.883400e+07,1.073800e+07,8.275000e+06,1.130000e+07,9.988200e+07,1.828454e+07,1.611600e+07,1.957500e+07,3.817700e+07
4388,YTEN,5.560000e+05,-0.4110,5.560000e+05,-9.274000e+06,-9.170000e+06,-8.796000e+06,-9.170000e+06,6.377000e+06,9.830000e+06,3.640000e+05,8.440000e+05,5.621000e+06,5.698000e+06,1.002581e+07,1.641000e+06,6.465000e+06,7.262000e+06

In [120]:
# In this section we run K-Means algorithm with 3 different cluster sizes, which are 4, 5 and 6. 
# We will know what company is really good when we get the company to be in group 3 (with 4 clusters), 
# in group 4 (with 5 clusters), and in group 5 (with 6 clusters). These groups perform the highest therefore our portfolio
# will contain the stock of these companies.

# Since K-Means algorithm picks arbitrary points and then tries to adjust the mean, then we will have different portfolios 
# each time we run the K-Means. This is not good for us as we need groups to be the same, so we can create our 
# final portfolio. Now if we run this many times we notice that after 3 or 4 iterations, the algorithm adjusts back the first 
# groups, and this happens over and over again. We get similar stocks in each iteration and we add this an array and keep them
# for further analysis. 
# In nutshell, we iterate K-Means algorithm many times, we get groups in each iterations, we take the stock that is most 
# repeated and put it in our final portfolio. 

# Temporary data frames to save the symbols of the stocks in the best group for each 
temp_df1 = pd.DataFrame()
temp_df2 = pd.DataFrame()
temp_df3 = pd.DataFrame()

# Loop to run K-Means many times with 3 different cluster sizes. 
for i in range(50):
    
    
    # K-Means with 4 clusters
    kmeans = KMeans(n_clusters = 4,  random_state=1)
    kmeans.fit(financial_data)
    y_k4means = kmeans.predict(financial_data)
    portfolio_k4 = pd.DataFrame(target_data.loc[y_k4means < 1, 'Symbol']).to_numpy() #get the best group of stocks
    
    # K-Means with 5 clusters
    kmeans = KMeans(n_clusters = 5,  random_state=1)
    kmeans.fit(financial_data)
    y_k5means = kmeans.predict(financial_data)
    portfolio_k5 = pd.DataFrame(target_data.loc[y_k5means < 2, 'Symbol']).to_numpy() #get the best group of stocks
    
    # compare the portoflios and select the best stocks
    port2 = pd.DataFrame(np.intersect1d(portfolio_k4, portfolio_k5))
    #port3 = pd.DataFrame(np.intersect1d(portfolio_k3, portfolio_k5))
    #print(np.intersect1d(portfolio_k3, portfolio_k4))
    
    # save the list of these stocks
   #temp_df1 = temp_df1.append(port1, ignore_index=True)
    temp_df2 = temp_df2.append(port2, ignore_index=True)
    #temp_df3 = temp_df3.append(port3, ignore_index=True)

In [121]:
# Put all the above stocks together in a list
#temp_df1 = temp_df1.reset_index()
temp_df2 = temp_df2.reset_index()
#temp_df3 = temp_df3.reset_index()
#port_df = [temp_df1, temp_df2, temp_df3]
port_df = [temp_df2]
#df_final = pd.concat(port_df, axis=1)
df_final = pd.concat(port_df, axis=1)

In [122]:
df_final = df_final.drop('index', 1)

# May not need to create semi-portfolio
df_final.to_csv("semi_final_portfolio.csv", index=False)

In [123]:
portfolio_dff = pd.read_csv("semi_final_portfolio.csv", header=None)
portfolio_dff.columns = ['one']
#display(portfolio_dff)

## OBJECTIVE: join/concat all columns together-> combine totals(add)-> group top 10

# Place all columns into the same list
df1 = portfolio_dff['one']
#df2 = portfolio_dff['two']
dff = df2.append(df1)

# Get top 10 total counts
countsTotal = df1.value_counts().head(10)
print(countsTotal)

# Output result to final_portfolio.csv
countsTotal.to_csv("final_portfolio.csv", header=False)

#portfolio_dff=portfolio_dff.apply(pd.value_counts).fillna(0)
#display(portfolio_dff.nlargest(5, ['one']))
#display(portfolio_dff.nlargest(10, ['two']))
#display(portfolio_dff.nlargest(10, ['three']))
#portfolio_dff = portfolio_dff.to_numpy()

LDOS    50
NUE     50
DF      50
CMI     50
RPM     50
FLOW    50
TECD    50
CHEF    50
AINC    50
SYY     50
Name: one, dtype: int64

In [126]:
kmeans = KMeans(n_clusters = 4,  random_state=None) # No matter what state, the output are the same companies
kmeans.fit(financial_data)
y_k4means = kmeans.predict(financial_data)

kmeans = KMeans(n_clusters = 5,  random_state=None)
kmeans.fit(financial_data)
y_k5means = kmeans.predict(financial_data)

#get the best group of stocks
largestMean_k4 = 0
largestMean_k5 = 0
# This loop finds the average "Net Income" of each cluster (using 2 different cluster sizes) in each cluster size
# It then indentifies the largest average and its associated cluster
# The output are the companies within these "top" clusters
for i in range(5):
    nportfolio_k5 = pd.DataFrame(target_data.loc[y_k5means == i, 'Net Income']).to_numpy()
    mean_k5 = nportfolio_k5.mean()
    if mean_k5 > largestMean_k5:
        largestMean_k5 = mean_k5
        cl_num_k5 = i 
        
    if i < 4:
        nportfolio_k4 = pd.DataFrame(target_data.loc[y_k4means == i, 'Net Income']).to_numpy()
        mean_k4 = nportfolio_k4.mean()
    if mean_k4 > largestMean_k4:
        largestMean_k4 = mean_k4
        cl_num_k4 = i

nportfolio_k5 = pd.DataFrame(target_data.loc[y_k5means == cl_num_k5, 'Symbol']).to_numpy()
nportfolio_k4 = pd.DataFrame(target_data.loc[y_k4means == cl_num_k4, 'Symbol']).to_numpy()
print(nportfolio_k5)
print()
print(nportfolio_k4)
print("k5 = ",largestMean_k5, cl_num_k5)
print("k4 = ",largestMean_k4, cl_num_k4)

[['BAC']
 ['JPM']
 ['HSBC']]

[['BAC']
 ['WFC']
 ['C']
 ['JPM']
 ['DB']
 ['BCS']
 ['SMFG']
 ['HSBC']]
k5 =  24194333333.333332 1
k4 =  15218085948.3375 1