In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Each day, a stock takes a certain trajectory. Let $n$ be the number of trajectories a stock has taken for the whole year and $S_{T_{i}}$ is the closing price at the end of each day. Then the exepcted return for a stock then can be calculated by  $$\frac{1}{n}\sum_{i=1}^n S_{T_{i}} = S_{T}$$ which simply the average of the closing prices.

In [2]:
df1 = pd.read_csv("Final_Portfolio_2018.csv")

tickers = df1['Symbol']
print(tickers)
#tickers = ['CMCSA','AAPL', 'MSFT', 'F', 'AIG', 'WMT', 'GM', 'T', 'VZ' ,'XOM'] #our portoflio
expected_return = []

start_date = '2014-01-01'
end_date = '2014-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2015-01-01'
end_date = '2015-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2016-01-01'
end_date = '2016-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2017-01-01'
end_date = '2017-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2018-01-01'
end_date = '2018-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

0    CMCSA
1     AAPL
2     MSFT
3        F
4      AIG
Name: Symbol, dtype: object

In [4]:
expected_return = np.array(expected_return)
years = [];
for i in range(2014, 2019):
    years.append(i)

print(years)
display(pd.DataFrame(expected_return.reshape(5,df1['Symbol'].shape[0]), columns = df1['Symbol']))

[2014, 2015, 2016, 2017, 2018]

Symbol      CMCSA        AAPL        MSFT          F        AIG
0       26.641865   92.264654   42.453492  15.894405  52.772540
1       29.488611  120.040000   46.714286  15.002738  58.761627
2       31.633730  104.604008   55.259325  12.631032  57.304722
3       38.381653  150.551075   71.984024  11.792590  62.520438
4       35.781633  189.053427  101.033984  10.407410  52.593386

In [5]:
df7 = pd.read_csv("2017_Financial_Data.csv")
df6 = pd.read_csv("2016_Financial_Data.csv")
df5 = pd.read_csv("2015_Financial_Data.csv")
df4 = pd.read_csv("2014_Financial_Data.csv")