In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Each day, a stock takes a certain trajectory. Let $n$ be the number of trajectories a stock has taken for the whole year and $S_{T_{i}}$ is the closing price at the end of each day. Then the exepcted return for a stock then can be calculated by  $$\frac{1}{n}\sum_{i=1}^n S_{T_{i}} = S_{T}$$ which simply the average of the closing prices.
However this assumption can be improved mathematically. We are assuming two things:
* The returns on the stock are normally distributed in the long-run.
* The empricial rule, which states that give a normal distribution, 95% of the data will be in 2 standard deviation. 

These are very basic assumptions, but it can help us move forward to create a return for our given portoflio.

In [2]:
# Let us pick 5 examples of stocks and create a portoflio only using these stocks.
# Since we have missing data we try to pick the stocks that give us most of the information we need.
# We choose the following companies to put our money in.
# CMCSA is for comcast communications
# AAPL is for Apple.inc
# MSFT is for Microsoft.Inc 
# WMT is for Walmart.Inc
# XOM is for ExxonMobil Corp, which is a  famous oil and gas corporation. 

# The choice of this portfolio is up to the investor. As we saw previously, these companies are in a healthy group,
# so if we pick any from them, we will be minimizing the risk. We chose these stocks based on the clusters we got from each year
# of clustering. Please refer to the "FinalPortfolio.ipyn" to see these clusters.


tickers = ['CMCSA','AAPL', 'MSFT', 'WMT','XOM'] #our portoflio
expected_return = []

start_date = '2014-01-01'
end_date = '2014-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2015-01-01'
end_date = '2015-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2016-01-01'
end_date = '2016-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2017-01-01'
end_date = '2017-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2018-01-01'
end_date = '2018-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

In [3]:
expected_return = np.array(expected_return)
years = [];
for i in range(2014, 2019):
    years.append(i)

returns2018 = pd.DataFrame(expected_return.reshape(5,5), columns = tickers)
returns2018['year'] = years
display(returns2018)

       CMCSA        AAPL        MSFT        WMT        XOM  year
0  26.641865   92.264654   42.453492  77.327381  97.270119  2014
1  29.488611  120.040000   46.714286  72.491111  82.828453  2015
2  31.633730  104.604008   55.259325  69.547063  86.219682  2016
3  38.381653  150.551075   71.984024  78.962391  81.861594  2017
4  35.781633  189.053427  101.033984  92.369840  79.955697  2018

In [4]:
# Read in all datasets
df2018 = pd.read_csv("2018_Financial_Data.csv")
df2017 = pd.read_csv("2017_Financial_Data.csv")
df2016 = pd.read_csv("2016_Financial_Data.csv")
df2015 = pd.read_csv("2015_Financial_Data.csv")
df2014 = pd.read_csv("2014_Financial_Data.csv")

# Insert data into list for iteration purposes
list1 = [df2018, df2017, df2016, df2015, df2014]

# This loop retrieves 5 years of data for each of the selected stocks so that the expected return value (which is
# calculated above) can be appended to each stock.
for i in range(5):
    
    # Here we modify the data to get our desired amount of features (which we have selected earlier on in this project)
    financial_data = pd.DataFrame(list1[i], columns = ['Symbol', 'Revenue', 'Revenue Growth', 'Gross Profit', 
                                                  'Operating Income', 'Earnings before Tax', 'Free Cash Flow', 
                                                  'Net Income', 'Total current assets',
                                                  'Operating Expenses',  'Net Debt', 'Short-term debt', 'Long-term debt', 
                                                  'Total shareholders equity', 'Weighted Average Shs Out', 
                                                  'Total current liabilities', 'Total debt', 'Total liabilities']) 
    nan_value = float("NaN")
    target_data = financial_data

    # Get data from each selected stock
    s1 = pd.DataFrame(financial_data.loc[financial_data.loc[:,('Symbol')] == "CMCSA", :])
    s2 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "AAPL", :])
    s3 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "MSFT", :])
    s4 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "WMT", :])
    s5 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "XOM", :])
    
    # Append stock data together throughout 5 years
    if i == 0:
        s1_total = s1
        s2_total = s2
        s3_total = s3
        s4_total = s4
        s5_total = s5
    else:
        s1_total = s1_total.append(s1)
        s2_total = s2_total.append(s2)
        s3_total = s3_total.append(s3)
        s4_total = s4_total.append(s4)
        s5_total = s5_total.append(s5)

# Add on Expected Return column to each stock

s1_total['Expected Return'] = [expected_return[0],expected_return[5], expected_return[10], 
                            expected_return[15], expected_return[20]]
s2_total['Expected Return'] = [expected_return[1],expected_return[6], expected_return[11], 
                            expected_return[16], expected_return[21]]
s3_total['Expected Return'] = [expected_return[2],expected_return[7], expected_return[12], 
                            expected_return[17], expected_return[22]]
s4_total['Expected Return'] = [expected_return[3],expected_return[8], expected_return[13], 
                            expected_return[18], expected_return[23]]
s5_total['Expected Return'] = [expected_return[4],expected_return[9], expected_return[14], 
                            expected_return[19], expected_return[24]]

display("Order of years: 2014, 2015, 2016, 2017, 2018")
display(s1_total)
display(s2_total)
display(s3_total)
display(s4_total)
display(s5_total)

'Order of years: 2014, 2015, 2016, 2017, 2018'

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
0,CMCSA,9.450700e+10,0.1115,9.450700e+10,1.900900e+10,1.511100e+10,1.198500e+10,1.173100e+10,2.184800e+10,7.549800e+10,1.080000e+11,4.398000e+09,1.070000e+11,7.161300e+10,4.549505e+09,2.760300e+10,1.120000e+11,1.790000e+11,26.641865
1199,CMCSA,8.502900e+10,0.0532,8.502900e+10,1.801800e+10,1.516600e+10,9.617000e+09,2.273500e+10,1.634300e+10,6.701100e+10,6.112800e+10,5.134000e+09,5.942200e+10,6.861600e+10,4.673772e+09,2.199300e+10,6.455600e+10,1.180030e+11,29.488611
1157,CMCSA,8.073600e+10,0.0836,8.073600e+10,1.683100e+10,1.397600e+10,8.554000e+09,8.678000e+09,1.636100e+10,6.390500e+10,5.597300e+10,5.480000e+09,5.556600e+10,5.394300e+10,4.785665e+09,2.153500e+10,6.104600e+10,1.243260e+11,31.633730
1068,CMCSA,7.451000e+10,0.0834,7.451000e+10,1.599800e+10,1.312200e+10,9.438000e+09,8.163000e+09,1.230300e+10,5.851200e+10,5.030500e+10,3.627000e+09,4.899400e+10,5.226900e+10,4.914459e+09,1.817800e+10,5.262100e+10,1.125960e+11,38.381653
989,CMCSA,6.877500e+10,0.0637,6.877500e+10,1.490400e+10,1.225300e+10,8.360000e+09,8.380000e+09,1.353100e+10,5.387100e+10,4.356900e+10,4.217000e+09,4.386400e+10,5.271100e+10,5.152595e+09,1.741000e+10,4.808100e+10,1.061180e+11,35.781633

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
6,AAPL,2.660000e+11,0.1586,1.020000e+11,7.089800e+10,7.290300e+10,6.412100e+10,5.953100e+10,1.310000e+11,3.094100e+10,4.818200e+10,2.074800e+10,9.373500e+10,1.070000e+11,4.829926e+09,1.160000e+11,1.140000e+11,2.590000e+11,92.264654
4297,AAPL,2.292340e+11,0.0630,8.818600e+10,6.134400e+10,6.408900e+10,5.177400e+10,4.835100e+10,1.286450e+11,2.684200e+10,4.149900e+10,1.847300e+10,9.720700e+10,1.340470e+11,5.165228e+09,1.008140e+11,1.156800e+11,2.412720e+11,120.040000
4156,AAPL,2.156390e+11,-0.0773,8.426300e+10,6.002400e+10,6.137200e+10,5.349700e+10,4.568700e+10,1.068690e+11,2.423900e+10,1.987700e+10,1.160500e+10,7.542700e+10,1.282490e+11,5.388443e+09,7.900600e+10,8.703200e+10,1.934370e+11,104.604008
3516,AAPL,2.337150e+11,0.2786,9.362600e+10,7.123000e+10,7.251500e+10,6.977800e+10,5.339400e+10,8.937800e+10,2.239600e+10,2.272700e+10,1.099900e+10,5.332900e+10,1.193550e+11,5.702722e+09,8.061000e+10,6.432800e+10,1.709900e+11,150.551075
3234,AAPL,1.827950e+11,0.0695,7.053700e+10,5.250300e+10,5.348300e+10,4.990000e+10,3.951000e+10,6.853100e+10,1.803400e+10,1.021800e+10,6.308000e+09,2.898700e+10,1.115470e+11,5.987867e+09,6.344800e+10,3.529500e+10,1.202920e+11,189.053427

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
7,MSFT,1.100000e+11,0.1428,7.200700e+10,3.505800e+10,3.647400e+10,3.225200e+10,1.657100e+10,1.700000e+11,3.694900e+10,-5.196000e+10,3.998000e+09,7.781000e+10,8.271800e+10,7.683198e+09,5.848800e+10,8.180800e+10,1.760000e+11,42.453492
4298,MSFT,9.657100e+10,0.0594,6.231000e+10,2.902500e+10,2.990100e+10,3.137800e+10,2.548900e+10,1.626960e+11,3.328500e+10,-4.141500e+10,1.012100e+10,8.144500e+10,8.771100e+10,7.720515e+09,5.574500e+10,9.156600e+10,1.626010e+11,46.714286
4157,MSFT,9.115400e+10,-0.0259,5.837400e+10,2.607800e+10,2.563900e+10,2.498200e+10,2.053900e+10,1.396600e+11,3.229600e+10,-5.977900e+10,1.290400e+10,4.055700e+10,7.199700e+10,7.860467e+09,5.935700e+10,5.346100e+10,1.214710e+11,55.259325
3517,MSFT,9.358000e+10,0.0777,6.054200e+10,1.816100e+10,1.850700e+10,2.372400e+10,1.219300e+10,1.227970e+11,4.238100e+10,-6.123400e+10,7.484000e+09,2.780800e+10,8.008300e+10,8.089575e+09,4.964700e+10,3.529200e+10,9.438900e+10,71.984024
3235,MSFT,8.683300e+10,0.1154,5.975500e+10,2.775900e+10,2.782000e+10,2.701700e+10,2.207400e+10,1.142460e+11,3.199600e+10,-6.306400e+10,2.000000e+09,2.064500e+10,8.978400e+10,8.260412e+09,4.562500e+10,2.264500e+10,8.260000e+10,101.033984

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
90,WMT,5.000000e+11,0.0298,1.270000e+11,2.043700e+10,1.446200e+10,1.866400e+10,9.862000e+09,5.966400e+10,1.070000e+11,3.973100e+10,9.662000e+09,3.682500e+10,7.786900e+10,2.962381e+09,7.852100e+10,4.648700e+10,1.240000e+11,77.327381
7,WMT,4.858730e+11,0.0078,1.246170e+11,2.276400e+10,1.984700e+10,2.151000e+10,1.364300e+10,5.768900e+10,1.018530e+11,3.907100e+10,3.920000e+09,4.201800e+10,7.779800e+10,3.073190e+09,6.692800e+10,4.593800e+10,1.182900e+11,72.491111
7,WMT,4.821300e+11,-0.0073,1.211460e+11,2.410500e+10,2.125200e+10,1.671000e+10,1.469400e+10,6.023900e+10,9.704100e+10,4.132900e+10,6.004000e+09,4.403000e+10,8.054600e+10,3.201893e+09,6.461900e+10,5.003400e+10,1.159700e+11,69.547063
7,WMT,4.856510e+11,0.0196,1.205650e+11,2.714700e+10,2.434800e+10,1.696000e+10,1.636300e+10,6.327800e+10,9.341800e+10,4.103000e+10,6.670000e+09,4.349500e+10,8.139400e+10,3.223190e+09,6.525300e+10,5.016500e+10,1.175530e+11,78.962391
7,WMT,4.762940e+11,0.0163,1.182250e+11,2.687200e+10,2.412700e+10,1.086900e+10,1.602200e+10,6.118500e+10,9.135300e+10,4.936000e+10,1.208200e+10,4.455900e+10,7.625500e+10,3.235772e+09,6.934500e+10,5.664100e+10,1.234120e+11,92.369840

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
36,XOM,2.900000e+11,0.1876,1.010000e+11,3.171900e+10,3.037200e+10,1.644000e+10,2.084000e+10,4.797300e+10,6.965800e+10,3.475400e+10,1.725800e+10,2.053800e+10,1.920000e+11,4.233807e+09,5.713800e+10,3.779600e+10,1.480000e+11,97.270119
2673,XOM,2.443630e+11,0.1742,8.604200e+10,1.927500e+10,1.853600e+10,1.466400e+10,1.971000e+10,4.713400e+10,6.676700e+10,3.915900e+10,1.793000e+10,2.440600e+10,1.876880e+11,4.237106e+09,5.777100e+10,4.233600e+10,1.541910e+11,82.828453
2583,XOM,2.081140e+11,-0.1650,7.492300e+10,8.422000e+09,7.434000e+09,5.919000e+09,7.840000e+09,4.141600e+10,6.650100e+10,3.910500e+10,1.383000e+10,2.893200e+10,1.673250e+11,4.146693e+09,4.763800e+10,4.276200e+10,1.564840e+11,86.219682
2407,XOM,2.492480e+11,-0.3949,8.893600e+10,2.227700e+10,2.156500e+10,3.854000e+09,1.615000e+10,4.262300e+10,6.665900e+10,3.498200e+10,1.876200e+10,1.992500e+10,1.708110e+11,4.162939e+09,5.397600e+10,3.868700e+10,1.599480e+11,81.861594
2255,XOM,4.119390e+11,-0.0600,1.243390e+11,5.191600e+10,5.053500e+10,1.216400e+10,3.252000e+10,5.291000e+10,7.242300e+10,2.446300e+10,1.746800e+10,1.165300e+10,1.743990e+11,4.234529e+09,6.463300e+10,2.912100e+10,1.684290e+11,79.955697

In [5]:
from numpy.linalg import inv
x = s3_total.drop('Symbol',1)
x = x.drop('Expected Return', 1).to_numpy()
y = s3_total['Expected Return'].to_numpy()
print("Shape of X matrix: ", np.shape(x))
print("Shape of y matrix: ", np.shape(y))


XTX = x.transpose().dot(x)
print("Shape of X^TX matrix: ", np.shape(XTX))
XTX_inverse = inv(np.matrix(XTX))
print("Shape of (X^TX)^(-1) matrix: ", np.shape(XTX_inverse))
XTX_inverse_X = XTX_inverse.dot(x.transpose())
print("Shape of (X^TX)^(-1)X^T matrix: ",np.shape(XTX_inverse_X))
param_theta = XTX_inverse_X.dot(y)

print(param_theta)
print(param_theta.dot(x[3]))

Shape of X matrix:  (5, 17)
Shape of y matrix:  (5,)
Shape of X^TX matrix:  (17, 17)
Shape of (X^TX)^(-1) matrix:  (17, 17)
Shape of (X^TX)^(-1)X^T matrix:  (17, 5)
[[-2.86019729e-07 -1.21094584e+04  4.28228599e-07  2.36911939e-07
  -7.65967215e-08  3.83569421e-08 -4.88304094e-08 -1.73512329e-08
   5.69745226e-08 -1.96832926e-08  2.12724932e-07  5.00413625e-08
   1.55566862e-08 -3.30169937e-07 -4.51210544e-08 -4.15721108e-08
   5.24300155e-10]]
[[808.6777878]]