In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Each day, a stock takes a certain trajectory. Let $n$ be the number of trajectories a stock has taken for the whole year and $S_{T_{i}}$ is the closing price at the end of each day. Then the exepcted return for a stock then can be calculated by  $$\frac{1}{n}\sum_{i=1}^n S_{T_{i}} = S_{T}$$ which simply the average of the closing prices.

In [2]:
df1 = pd.read_csv("Final_Portfolio_2018.csv")

tickers = df1['Symbol']
print(tickers)
#tickers = ['CMCSA','AAPL', 'MSFT', 'F', 'AIG', 'WMT', 'GM', 'T', 'VZ' ,'XOM'] #our portoflio
expected_return = []

start_date = '2014-01-01'
end_date = '2014-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2015-01-01'
end_date = '2015-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)
    
start_date = '2016-01-01'
end_date = '2016-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2017-01-01'
end_date = '2017-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

start_date = '2018-01-01'
end_date = '2018-12-31'
for ticker in  tickers:
    panel_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
    mean = panel_data['Close'].mean()
    expected_return.append(mean)

0    CMCSA
1     AAPL
2     MSFT
3        F
4      AIG
Name: Symbol, dtype: object

In [7]:
expected_return = np.array(expected_return)
years = [];
for i in range(2014, 2019):
    years.append(i)

print(years)
display(pd.DataFrame(expected_return.reshape(5,df1['Symbol'].shape[0]), columns = df1['Symbol']))
#display(s1_total)

[2014, 2015, 2016, 2017, 2018]

Symbol      CMCSA        AAPL        MSFT          F        AIG
0       26.641865   92.264654   42.453492  15.894405  52.772540
1       29.488611  120.040000   46.714286  15.002738  58.761627
2       31.633730  104.604008   55.259325  12.631032  57.304722
3       38.381653  150.551075   71.984024  11.792590  62.520438
4       35.781633  189.053427  101.033984  10.407410  52.593386

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
0,CMCSA,9.450700e+10,0.1115,9.450700e+10,1.900900e+10,1.511100e+10,1.198500e+10,1.173100e+10,2.184800e+10,7.549800e+10,1.080000e+11,4.398000e+09,1.070000e+11,7.161300e+10,4.549505e+09,2.760300e+10,1.120000e+11,1.790000e+11,26.641865
1199,CMCSA,8.502900e+10,0.0532,8.502900e+10,1.801800e+10,1.516600e+10,9.617000e+09,2.273500e+10,1.634300e+10,6.701100e+10,6.112800e+10,5.134000e+09,5.942200e+10,6.861600e+10,4.673772e+09,2.199300e+10,6.455600e+10,1.180030e+11,29.488611
1157,CMCSA,8.073600e+10,0.0836,8.073600e+10,1.683100e+10,1.397600e+10,8.554000e+09,8.678000e+09,1.636100e+10,6.390500e+10,5.597300e+10,5.480000e+09,5.556600e+10,5.394300e+10,4.785665e+09,2.153500e+10,6.104600e+10,1.243260e+11,31.633730
1068,CMCSA,7.451000e+10,0.0834,7.451000e+10,1.599800e+10,1.312200e+10,9.438000e+09,8.163000e+09,1.230300e+10,5.851200e+10,5.030500e+10,3.627000e+09,4.899400e+10,5.226900e+10,4.914459e+09,1.817800e+10,5.262100e+10,1.125960e+11,38.381653
989,CMCSA,6.877500e+10,0.0637,6.877500e+10,1.490400e+10,1.225300e+10,8.360000e+09,8.380000e+09,1.353100e+10,5.387100e+10,4.356900e+10,4.217000e+09,4.386400e+10,5.271100e+10,5.152595e+09,1.741000e+10,4.808100e+10,1.061180e+11,35.781633

In [11]:
# Read in all datasets
df8 = pd.read_csv("2018_Financial_Data.csv")
df7 = pd.read_csv("2017_Financial_Data.csv")
df6 = pd.read_csv("2016_Financial_Data.csv")
df5 = pd.read_csv("2015_Financial_Data.csv")
df4 = pd.read_csv("2014_Financial_Data.csv")

# Insert data into list for iteration
list1 = [df8, df7, df6, df5, df4]
for i in range(5):
    
    # Modify data to get desired amount of features
    financial_data = pd.DataFrame(list1[i], columns = ['Symbol', 'Revenue', 'Revenue Growth', 'Gross Profit', 
                                                  'Operating Income', 'Earnings before Tax', 'Free Cash Flow', 
                                                  'Net Income', 'Total current assets',
                                                  'Operating Expenses',  'Net Debt', 'Short-term debt', 'Long-term debt', 
                                                  'Total shareholders equity', 'Weighted Average Shs Out', 
                                                  'Total current liabilities', 'Total debt', 'Total liabilities']) 
    nan_value = float("NaN")
    #financial_data.replace("", nan_value, inplace=True) #change empty data to nan
    #financial_data.replace(0, nan_value, inplace=True) #change zero data to nan
    #financial_data.dropna(axis=0, inplace = True) #get rid of nans
    target_data = financial_data

    # Get data from each selected stock
    s1 = pd.DataFrame(financial_data.loc[financial_data.loc[:,('Symbol')] == "CMCSA", :]) #dataframes
    s2 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "AAPL", :])
    s3 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "MSFT", :])
    s4 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "F", :])
    s5 = pd.DataFrame(financial_data.loc[financial_data['Symbol'] == "AIG", :])
    
    # Append stock data together throughout ye
    if i == 0:
        s1_total = s1
        s2_total = s2
        s3_total = s3
        s4_total = s4
        s5_total = s5
    else:
        s1_total = s1_total.append(s1)
        s2_total = s2_total.append(s2)
        s3_total = s3_total.append(s3)
        s4_total = s4_total.append(s4)
        s5_total = s5_total.append(s5)

# Add on Expected Return column

s1_total['Expected Return'] = [expected_return[0],expected_return[5], expected_return[10], 
                            expected_return[15], expected_return[20]]
s2_total['Expected Return'] = [expected_return[1],expected_return[6], expected_return[11], 
                             expected_return[16], expected_return[21]]
s3_total['Expected Return'] = [expected_return[2],expected_return[7], expected_return[12], 
                             expected_return[17], expected_return[22]]
s4_total['Expected Return'] = [expected_return[3],expected_return[8], expected_return[13], 
                             expected_return[18], expected_return[23]]
s5_total['Expected Return'] = [expected_return[4],expected_return[9], expected_return[14], 
                             expected_return[19], expected_return[24]]

display("Order of years: 2014, 2015, 2016, 2017, 2018")
display(s1_total)
display(s2_total)
display(s3_total)
display(s4_total)
display(s5_total)

'Order of years: 2014, 2015, 2016, 2017, 2018'

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
0,CMCSA,9.450700e+10,0.1115,9.450700e+10,1.900900e+10,1.511100e+10,1.198500e+10,1.173100e+10,2.184800e+10,7.549800e+10,1.080000e+11,4.398000e+09,1.070000e+11,7.161300e+10,4.549505e+09,2.760300e+10,1.120000e+11,1.790000e+11,26.641865
1199,CMCSA,8.502900e+10,0.0532,8.502900e+10,1.801800e+10,1.516600e+10,9.617000e+09,2.273500e+10,1.634300e+10,6.701100e+10,6.112800e+10,5.134000e+09,5.942200e+10,6.861600e+10,4.673772e+09,2.199300e+10,6.455600e+10,1.180030e+11,29.488611
1157,CMCSA,8.073600e+10,0.0836,8.073600e+10,1.683100e+10,1.397600e+10,8.554000e+09,8.678000e+09,1.636100e+10,6.390500e+10,5.597300e+10,5.480000e+09,5.556600e+10,5.394300e+10,4.785665e+09,2.153500e+10,6.104600e+10,1.243260e+11,31.633730
1068,CMCSA,7.451000e+10,0.0834,7.451000e+10,1.599800e+10,1.312200e+10,9.438000e+09,8.163000e+09,1.230300e+10,5.851200e+10,5.030500e+10,3.627000e+09,4.899400e+10,5.226900e+10,4.914459e+09,1.817800e+10,5.262100e+10,1.125960e+11,38.381653
989,CMCSA,6.877500e+10,0.0637,6.877500e+10,1.490400e+10,1.225300e+10,8.360000e+09,8.380000e+09,1.353100e+10,5.387100e+10,4.356900e+10,4.217000e+09,4.386400e+10,5.271100e+10,5.152595e+09,1.741000e+10,4.808100e+10,1.061180e+11,35.781633

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
6,AAPL,2.660000e+11,0.1586,1.020000e+11,7.089800e+10,7.290300e+10,6.412100e+10,5.953100e+10,1.310000e+11,3.094100e+10,4.818200e+10,2.074800e+10,9.373500e+10,1.070000e+11,4.829926e+09,1.160000e+11,1.140000e+11,2.590000e+11,92.264654
4297,AAPL,2.292340e+11,0.0630,8.818600e+10,6.134400e+10,6.408900e+10,5.177400e+10,4.835100e+10,1.286450e+11,2.684200e+10,4.149900e+10,1.847300e+10,9.720700e+10,1.340470e+11,5.165228e+09,1.008140e+11,1.156800e+11,2.412720e+11,120.040000
4156,AAPL,2.156390e+11,-0.0773,8.426300e+10,6.002400e+10,6.137200e+10,5.349700e+10,4.568700e+10,1.068690e+11,2.423900e+10,1.987700e+10,1.160500e+10,7.542700e+10,1.282490e+11,5.388443e+09,7.900600e+10,8.703200e+10,1.934370e+11,104.604008
3516,AAPL,2.337150e+11,0.2786,9.362600e+10,7.123000e+10,7.251500e+10,6.977800e+10,5.339400e+10,8.937800e+10,2.239600e+10,2.272700e+10,1.099900e+10,5.332900e+10,1.193550e+11,5.702722e+09,8.061000e+10,6.432800e+10,1.709900e+11,150.551075
3234,AAPL,1.827950e+11,0.0695,7.053700e+10,5.250300e+10,5.348300e+10,4.990000e+10,3.951000e+10,6.853100e+10,1.803400e+10,1.021800e+10,6.308000e+09,2.898700e+10,1.115470e+11,5.987867e+09,6.344800e+10,3.529500e+10,1.202920e+11,189.053427

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
7,MSFT,1.100000e+11,0.1428,7.200700e+10,3.505800e+10,3.647400e+10,3.225200e+10,1.657100e+10,1.700000e+11,3.694900e+10,-5.196000e+10,3.998000e+09,7.781000e+10,8.271800e+10,7.683198e+09,5.848800e+10,8.180800e+10,1.760000e+11,42.453492
4298,MSFT,9.657100e+10,0.0594,6.231000e+10,2.902500e+10,2.990100e+10,3.137800e+10,2.548900e+10,1.626960e+11,3.328500e+10,-4.141500e+10,1.012100e+10,8.144500e+10,8.771100e+10,7.720515e+09,5.574500e+10,9.156600e+10,1.626010e+11,46.714286
4157,MSFT,9.115400e+10,-0.0259,5.837400e+10,2.607800e+10,2.563900e+10,2.498200e+10,2.053900e+10,1.396600e+11,3.229600e+10,-5.977900e+10,1.290400e+10,4.055700e+10,7.199700e+10,7.860467e+09,5.935700e+10,5.346100e+10,1.214710e+11,55.259325
3517,MSFT,9.358000e+10,0.0777,6.054200e+10,1.816100e+10,1.850700e+10,2.372400e+10,1.219300e+10,1.227970e+11,4.238100e+10,-6.123400e+10,7.484000e+09,2.780800e+10,8.008300e+10,8.089575e+09,4.964700e+10,3.529200e+10,9.438900e+10,71.984024
3235,MSFT,8.683300e+10,0.1154,5.975500e+10,2.775900e+10,2.782000e+10,2.701700e+10,2.207400e+10,1.142460e+11,3.199600e+10,-6.306400e+10,2.000000e+09,2.064500e+10,8.978400e+10,8.260412e+09,4.562500e+10,2.264500e+10,8.260000e+10,101.033984

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
12,F,1.600000e+11,0.0227,1.460600e+10,3.203000e+09,4.327000e+09,7.237000e+09,3.677000e+09,1.150000e+11,1.140300e+10,1.200000e+11,5.349300e+10,1.010000e+11,3.593200e+10,3.977903e+09,9.556900e+10,1.540000e+11,2.200000e+11,15.894405
1202,F,1.567760e+11,0.0328,1.640800e+10,4.881000e+09,8.133000e+09,1.104700e+10,7.731000e+09,1.168010e+11,1.152700e+10,1.153600e+11,5.162100e+10,1.026660e+11,3.557800e+10,3.972302e+09,9.460000e+10,1.542870e+11,2.227920e+11,15.002738
1160,F,1.518000e+11,0.0150,1.675800e+10,5.786000e+09,6.773000e+09,1.285800e+10,4.589000e+09,1.084610e+11,1.097200e+10,1.041430e+11,4.966900e+10,9.330100e+10,2.917000e+10,3.973715e+09,9.028100e+10,1.429700e+11,2.086680e+11,12.631032
1071,F,1.495580e+11,0.0380,1.774400e+10,6.981000e+09,1.025400e+10,9.030000e+09,7.373000e+09,1.025870e+11,1.076300e+10,9.767800e+10,4.297500e+10,8.987900e+10,2.864200e+10,3.968630e+09,8.233600e+10,1.328540e+11,1.961740e+11,11.792590
992,F,1.440770e+11,-0.0193,1.217400e+10,3.320000e+08,1.235000e+09,7.044000e+09,1.231000e+09,NaN,1.184200e+10,NaN,NaN,NaN,2.443800e+10,3.848687e+09,NaN,1.191710e+11,1.838080e+11,10.407410

,Symbol,Revenue,Revenue Growth,Gross Profit,Operating Income,Earnings before Tax,Free Cash Flow,Net Income,Total current assets,Operating Expenses,Net Debt,Short-term debt,Long-term debt,Total shareholders equity,Weighted Average Shs Out,Total current liabilities,Total debt,Total liabilities,Expected Return
17,AIG,4.738900e+10,-0.0430,1.622300e+10,1.573000e+09,1.480000e+08,6.100000e+07,-6.000000e+06,6.537700e+10,1.465000e+10,2.199300e+10,1.388000e+09,3.315200e+10,5.636100e+10,8.846485e+08,1.060000e+11,3.454000e+10,4.350000e+11,52.772540
2940,AIG,4.952000e+10,-0.0544,1.595600e+10,2.629000e+09,1.442000e+09,-7.818000e+09,-6.084000e+09,5.961500e+10,1.332700e+10,NaN,0.000000e+00,2.935500e+10,6.517100e+10,8.989594e+08,9.845800e+10,3.164000e+10,4.325930e+11,58.761627
2830,AIG,5.236700e+10,-0.1022,1.622500e+10,1.260000e+09,-6.640000e+08,3.502000e+09,-8.490000e+08,5.823200e+10,1.496500e+10,NaN,0.000000e+00,2.875100e+10,7.630000e+10,1.027135e+09,1.048330e+11,3.091200e+10,4.214060e+11,57.304722
2644,AIG,5.832700e+10,-0.0944,2.325100e+10,5.318000e+09,3.255000e+09,2.877000e+09,2.196000e+09,4.772700e+10,1.793300e+10,NaN,0.000000e+00,2.773100e+10,8.965800e+10,1.237013e+09,2.333800e+10,2.924900e+10,4.066320e+11,62.520438
2477,AIG,6.440600e+10,-0.0649,3.235700e+10,1.450100e+10,1.045600e+10,5.007000e+09,7.529000e+09,NaN,1.785600e+10,NaN,NaN,NaN,1.068980e+11,1.399912e+09,NaN,3.121700e+10,4.083090e+11,52.593386